* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  min-height: 100vh;
  min-width: 100vw;
}

h1 {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 3px;
  display: block;
  margin-bottom: 2%;
}
.title {
  margin-bottom: 2%;
}
.title hr {
  display: block;
  width: 50%;
  border:0;
  border-top: 2px solid #af7f77;
}

h3 {
  display: block;
  font-size: 16px;
  text-align: center;
  padding: 13.5px;
  font-family: 'Courgette', cursive;
}
h3:hover {
  background-color: #af7f77;
  color: white;
}
#container {
  width: 100vw;
  top:0;
  right:0;
  left: 0;
  bottom: 0;
  margin-top: 5%;
}

#content {
  width: 90vw;
  display: flex;
}
#map {
  width: 80vw;
  height: 500px;
}

#listOfPlace {
  border: 5px solid #af7f77;
  width: 20vw;
  height: 500px;
}

#directionsPanel {
  width: 80%;
  height: 300px;
}

#btn {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  display: none;
}

#btn button {
  margin-right: 6%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 24px;
  letter-spacing: 4px;
  border: none;
  background-color: #af7f77;
  color: white;
  padding: 0 20px;
  border-radius: 40px;
}
#directionsPanel {
  display: none;
}
